<div class="flex items-center justify-between pt-12 overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th>
                    <div class="w-full flex justify-center">
                        <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">
                            {{days[1]}}</p>
                    </div>
                </th>
                <th>
                    <div class="w-full flex justify-center">
                        <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">
                            {{days[2]}}
                        </p>
                    </div>
                </th>
                <th>
                    <div class="w-full flex justify-center">
                        <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">
                            {{days[3]}}
                        </p>
                    </div>
                </th>
                <th>
                    <div class="w-full flex justify-center">
                        <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">
                            {{days[4]}}
                        </p>
                    </div>
                </th>
                <th>
                    <div class="w-full flex justify-center">
                        <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">
                            {{days[5]}}
                        </p>
                    </div>
                </th>
                <th>
                    <div class="w-full flex justify-center">
                        <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">
                            {{days[6]}}
                        </p>
                    </div>
                </th>
                <th>
                    <div class="w-full flex justify-center">
                        <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">
                            {{days[0]}}
                        </p>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of calendarMatrix | chunk: 7; let i = index">
                <td *ngFor="let c of row; let j = index"
                    [ngClass]="{'text-gray-400': c.day.getMonth() != selectedDate?.getMonth()}">
                    <div class="flex items-center justify-center w-fit mx-auto rounded-full relative">
                        <!-- Floating point with animation, indicating today -->
                        <ng-container *ngIf="isToday(c.day)">
                            <span class="flex h-3 w-3 absolute -top-1 -right-1">
                                <span
                                    class="animate-ping absolute inline-flex h-full w-full rounded-full bg-indigo-400 opacity-75"></span>
                                <span class="relative inline-flex rounded-full h-3 w-3 bg-indigo-400"></span>
                            </span>
                        </ng-container>
                        <a tabindex="0" (click)="onChangeSelectedDate(c.day); onShowBookingHours()" [ngClass]="{
                                'bg-indigo-100 text-white': (!isSelectedDate(c.day) && isToday(c.day)) 
                                ,'bg-indigo-500 text-white': isSelectedDate(c.day)
                                , 'cursor-not-allowed text-gray-400':(c.day.getDay() == 0 && c.isWorkDay != true) || (c.day.getDay() == 6 && c.isWorkDay !=true) || c.isWorkDay == false
                                , 'bg-red-400 text-white hover:bg-red-600 focus:ring-red-200 focus:bg-red-700' : c.isFullyBooked
                            }"
                            class="cursor-pointer md:hover:bg-indigo-100 text-lg md:text-xl p-2 w-11 h-11 md:h-16 md:w-16 flex items-center justify-center font-medium rounded-xl">
                            {{c.day.getDate()}}</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>