<ng-container *ngIf="bookingFormData$ | async"></ng-container>
<div
    class="mx-auto my-4 max-w-3xl flex justify-center text-xs sm:text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
            <a (click)="activeTab = 'vehicle-categories'"
                [class]="activeTab === 'vehicle-categories' ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'">
                Категории</a>
        </li>
        <li class="mr-2">
            <a (click)="activeTab = 'services'"
                [class]="activeTab === 'services' ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'">
                Услуги</a>
        </li>
        <li class="mr-2">
            <a (click)="activeTab = 'additional-services'"
                [class]="activeTab === 'additional-services' ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'">
                <span class="hidden md:block">Допълнителни услуги</span>
                <span class="block md:hidden">Допълнителни</span>
            </a>
        </li>
    </ul>
</div>

<ng-container *ngIf="activeTab == 'vehicle-categories'">

    <div class="border border-solid max-w-3xl mx-4 sm:mx-auto mb-6">
        <div
            class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
            Допълнителна информация за поле "Категория"
        </div>

        <div class="divide-y divide-gray-200 dark:divide-gray-700">
            <div class="p-3 sm:p-4 sm:flex sm:justify-between space-x-0 sm:space-x-2 space-y-2 sm:space-y-0">
                <textarea rows="1" [disabled]="!categoryAlertEditMode" #newCategoryAlert [value]="categoryAlert" 
                class="block p-2.5 w-full text-xs md:text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here...">
            </textarea>
                <button type="submit"
                    (click)="categoryAlertEditMode = !categoryAlertEditMode; !categoryAlertEditMode ? onUpdateCategoryAlert(newCategoryAlert.value) : null"
                    [textContent]="categoryAlertEditMode ? 'Запази' : 'Редактирай'"
                    [ngClass]="categoryAlertEditMode ? 'bg-teal-700 hover:bg-teal-600' : 'bg-slate-800 hover:bg-slate-700'"
                    class="align-bottom w-full sm:w-44 bg-slate-800 border border-transparent rounded-md shadow-sm py-2 inline-flex justify-center text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                </button>
            </div>
        </div>
    </div>

    <div class="border border-solid max-w-3xl mx-4 sm:mx-auto mb-6">
        <div
            class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
            Категории
        </div>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
            <li *ngFor="let category of categories; let i = index" class="px-3 sm:px-4 sm:flex sm:justify-between">
                <div class="flex items-center space-x-4">
                    <div class="flex flex-col">
                        <button (click)="arraymove(categories, i, i-1)" id="mega-menu-dropdown-button"
                            data-dropdown-toggle="mega-menu-dropdown"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown"
                            (click)="arraymove(categories, i, i+1)"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                            <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white whitespace-normal">
                            {{category}}
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center text-base font-semibold text-gray-900 dark:text-white">
                    <div class="grid grid-cols-2 w-full md:flex justify-center">
                        <button type="button" (click)="openEditDialog(categories,i)"
                            class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'">Update</button>
                        <button type="button" (click)="deleteCategory(categories,i)"
                            class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
        <a (click)="openAddDialog(categories)"
            class="block py-6 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
            <div class="inline-flex items-center ">
                <i class="fa-solid fa-plus"></i> Add
            </div>
        </a>
        <div class="flex justify-center gap-4 px-4">
            <a [class]="compareArray(originalCategories,categories) ? 'hidden' : ''"
                class="flex justify-center w-10/12 md:w-52 mx-auto m-4 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                (click)="cancel(categories, originalCategories)">
                Cancel
            </a>
            <a [class]="compareArray(originalCategories,categories) ? 'hidden' : ''"
                class="flex justify-center w-10/12 md:w-52 mx-auto m-4 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                (click)="updateCategories(categories)">
                UPDATE
            </a>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="activeTab == 'services'">

    <div class="border border-solid max-w-3xl mx-4 sm:mx-auto mb-6">
        <div
            class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
            Допълнителна информация за поле "Услуга"
        </div>

        <div class="divide-y divide-gray-200 dark:divide-gray-700">
            <div class="p-3 sm:p-4 sm:flex sm:justify-between space-x-0 sm:space-x-2 space-y-2 sm:space-y-0">
                <textarea rows="1" [disabled]="!serviceAlertEditMode" #newServiceAlert [value]="serviceAlert" 
                class="block p-2.5 w-full text-xs md:text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here...">
            </textarea>
                <button type="submit"
                    (click)="serviceAlertEditMode = !serviceAlertEditMode; !serviceAlertEditMode ? onUpdateServiceAlert(newServiceAlert.value) : null"
                    [textContent]="serviceAlertEditMode ? 'Запази' : 'Редактирай'"
                    [ngClass]="serviceAlertEditMode ? 'bg-teal-700 hover:bg-teal-600' : 'bg-slate-800 hover:bg-slate-700'"
                    class="align-bottom w-full sm:w-44 bg-slate-800 border border-transparent rounded-md shadow-sm py-2 inline-flex justify-center text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                </button>
            </div>
        </div>
    </div>

    <div class="border border-solid max-w-3xl mx-4 sm:mx-auto mb-6">
        <div
            class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
            Услуги
        </div>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
            <li *ngFor="let category of services; let i = index" class="px-3 sm:px-4 sm:flex sm:justify-between">
                <div class="flex items-center space-x-4">
                    <div class="flex flex-col">
                        <button (click)="arraymove(services, i, i-1)" id="mega-menu-dropdown-button"
                            data-dropdown-toggle="mega-menu-dropdown"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown"
                            (click)="arraymove(services, i, i+1)"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                            <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white whitespace-normal">
                            {{category}}
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center text-base font-semibold text-gray-900 dark:text-white">
                    <div class="grid grid-cols-2 w-full md:flex justify-center">
                        <button type="button" (click)="openEditDialog(services,i)"
                            class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'">Update</button>
                        <button type="button" (click)="deleteCategory(services,i)"
                            class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
        <a (click)="openAddDialog(services)"
            class="block py-6 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
            <div class="inline-flex items-center ">
                <i class="fa-solid fa-plus"></i> Add
            </div>
        </a>
        <div class="flex justify-center gap-4 px-4">
            <a [class]="compareArray(originalServices,services) ? 'hidden' : ''"
                class="flex justify-center w-10/12 md:w-52 mx-auto m-4 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                (click)="cancel(services, originalServices)">
                Cancel
            </a>
            <a [class]="compareArray(originalServices,services) ? 'hidden' : ''"
                class="flex justify-center w-10/12 md:w-52 mx-auto m-4 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                (click)="updateServices(services)">
                UPDATE
            </a>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="activeTab == 'additional-services'">

    <div class="border border-solid max-w-3xl mx-4 sm:mx-auto mb-6">
        <div
            class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
            Допълнителна информация за поле "Допълнителни услуги"
        </div>

        <div class="divide-y divide-gray-200 dark:divide-gray-700">
            <div class="p-3 sm:p-4 sm:flex sm:justify-between space-x-0 sm:space-x-2 space-y-2 sm:space-y-0">
                <textarea rows="1" [disabled]="!additionalServicesAlertEditMode" #newAdditionalServiceAlert [value]="additionalServicesAlert" 
                class="block p-2.5 w-full text-xs md:text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here...">
            </textarea>
                <button type="submit"
                    (click)="additionalServicesAlertEditMode = !additionalServicesAlertEditMode; !additionalServicesAlertEditMode ? onUpdateAdditionalServicesAlert(newAdditionalServiceAlert.value) : null"
                    [textContent]="additionalServicesAlertEditMode ? 'Запази' : 'Редактирай'"
                    [ngClass]="additionalServicesAlertEditMode ? 'bg-teal-700 hover:bg-teal-600' : 'bg-slate-800 hover:bg-slate-700'"
                    class="align-bottom w-full sm:w-44 bg-slate-800 border border-transparent rounded-md shadow-sm py-2 inline-flex justify-center text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                </button>
            </div>
        </div>
    </div>

    <div class="border border-solid max-w-3xl mx-4 sm:mx-auto mb-6">
        <div
            class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
            Допълнителни услуги
        </div>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
            <li *ngFor="let category of additionalServices; let i = index"
                class="px-3 sm:px-4 sm:flex sm:justify-between">
                <div class="flex items-center space-x-4">
                    <div class="flex flex-col">
                        <button (click)="arraymove(additionalServices, i, i-1)" id="mega-menu-dropdown-button"
                            data-dropdown-toggle="mega-menu-dropdown"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown"
                            (click)="arraymove(additionalServices, i, i+1)"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                            <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white whitespace-normal">
                            {{category}}
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-center text-base font-semibold text-gray-900 dark:text-white">
                    <div class="grid grid-cols-2 w-full md:flex justify-center">
                        <button type="button" (click)="openEditDialog(additionalServices,i)"
                            class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'">Update</button>
                        <button type="button" (click)="deleteCategory(additionalServices,i)"
                            class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
        <a (click)="openAddDialog(additionalServices)"
            class="block py-6 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
            <div class="inline-flex items-center ">
                <i class="fa-solid fa-plus"></i> Add
            </div>
        </a>
        <div class="flex justify-center gap-4 px-4">
            <a [class]="compareArray(originalAdditionalServices,additionalServices) ? 'hidden' : ''"
                class="flex justify-center w-10/12 md:w-52 mx-auto m-4 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                (click)="cancel(additionalServices, originalAdditionalServices)">
                Cancel
            </a>
            <a [class]="compareArray(originalAdditionalServices,additionalServices) ? 'hidden' : ''"
                class="flex justify-center w-10/12 md:w-52 mx-auto m-4 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                (click)="updateAdditionalServices(additionalServices)">
                UPDATE
            </a>
        </div>
    </div>
</ng-container>