<ng-container *ngIf="dayData$ | async as dayData">
    <ng-container *ngIf="dayData.isWorkDay">
        <ng-container *ngIf="appState$ | async as state" [ngSwitch]="state.appState">
            <ng-container *ngSwitchCase="'APP_ERROR'">{{state.error | json}}</ng-container>
            <ng-container *ngIf="(showBookingHours | async)">
                <div class="flex w-full flex-col md:py-8 py-5 md:px-16 px-5 dark:bg-gray-700 bg-gray-50 rounded-b">
                    <div class="transition duration-300 max-w-lg mt-4 mx-auto w-full">
                        <!-- Header -->
                        <div class="relative pb-2">
                            <span class="absolute left-0 top-0 font-bold">
                                {{monthNames[currentDate!.getMonth()]}} {{currentDate | date: 'd, y'}}
                            </span>
                            <button type="button" (click)="closeBookingHours()"
                                class="absolute top-0 right-0 rounded-md p-2text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                                <span class="sr-only">Close menu</span>
                                <!-- Heroicon name: outline/x -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <!-- Body Skeleton -->
                        <ng-container *ngSwitchCase="'APP_LOADING'">
                            <div class="relative">
                                <div class="grid grid-cols-6 gap-1 justify-center py-8 md:p-8 animate-pulse">
                                    <button type="button" *ngFor="let item of dayData.bookingHours"
                                        class="bg-gray-100 text-transparent border border-gray-100 rounded-lg text-xs md:text-sm py-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200">
                                        skeleton
                                    </button>
                                </div>
                                <div class="flex items-center justify-center my-10 absolute inset-0">
                                    <div role="status">
                                        <svg aria-hidden="true"
                                            class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600"
                                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                                fill="currentColor" />
                                            <path
                                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                                fill="currentFill" />
                                        </svg>
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- Body -->
                        <ng-container *ngSwitchCase="'APP_LOADED'">
                            <div class="grid grid-cols-6 gap-1 justify-center py-8 md:p-8">
                                <ng-container>
                                    <button type="button" *ngFor="let item of dayData.bookingHours"
                                        (click)="onBookingTimeSelect(item)"
                                        [ngClass]="isBookingHourBooked(item) ? 'bg-gray-100 text-gray-400 pointer-events-none' : 'bg-white'"
                                        class="border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'">
                                        {{item}}
                                    </button>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!dayData.isWorkDay">
        <p class="text-center pt-4 text-xl font-semibold">{{monthNames[dayData.day.getMonth()]}} <span>{{dayData.day | date: ' dd, yyyy -'}}</span> Неработен ден.</p>
    </ng-container>
</ng-container>