<a class="flex justify-center w-10/12 md:w-52 mx-auto m-4 rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
    (click)="logout()">
    LOGOUT
</a>

<div
    class="mx-auto my-4 max-w-5xl flex justify-center text-xs sm:text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <li>
            <a (click)="activeTab = 'calendar-settings'"
                [class]="activeTab === 'calendar-settings' ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'">
                Calendar</a>
        </li>
        <li>
            <a (click)="activeTab = 'booking-form'"
                [class]="activeTab === 'booking-form' ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'">
                Booking Form</a>
        </li>
        <li>
            <a (click)="activeTab = 'notifications'"
                [class]="activeTab === 'notifications' ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'">
                Notifications</a>
        </li>
        <li>
            <a (click)="activeTab = 'system-settings'"
                [class]="activeTab === 'system-settings' ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'">
                System</a>
        </li>
    </ul>
</div>
<div [ngSwitch]="activeTab">
    <app-calendar-settings *ngSwitchCase="'calendar-settings'"></app-calendar-settings>
    <app-booking-form-settings *ngSwitchCase="'booking-form'"></app-booking-form-settings>
    <app-notifications-settings *ngSwitchCase="'notifications'"></app-notifications-settings>
    <app-system-settings *ngSwitchCase="'system-settings'"></app-system-settings>
</div>