<div class='demo-app'>

    <div class='demo-app-sidebar hidden md:block'>
      <div class='demo-app-sidebar-section'>
        <h2>Instructions</h2>
        <ul>
          <li>Select dates and you will be prompted to create a new event</li>
          <li>Drag, drop, and resize events</li>
          <li>Click an event to delete it</li>
        </ul>
      </div>
      <div class='demo-app-sidebar-section'>
        <label>
          <input type='checkbox' [checked]='calendarVisible' (change)='handleCalendarToggle()' />
          Toggle calendar ON/OFF
        </label>
        <br>
        <label>
          <input type='checkbox' [checked]='calendarOptions.weekends' (change)='handleWeekendsToggle()' />
          Toggle weekends ON/OFF
        </label>
      </div>
      <div class='demo-app-sidebar-section'>
        <h2>All Events ({{currentEvents.length}})</h2>
        <ul>
          <li *ngFor='let event of currentEvents'>
            <!-- <b>{{event.id}}</b> -->
            <b>{{event.startStr | date: 'dd/MM/yyyy HH:mm a'}} {{event.endStr | date: '- HH:mm a'}} : </b>
            <i>{{event.title}}</i>
          </li>
        </ul>
      </div>
    </div>
  
    <div class='demo-app-main'>
      <!-- <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
        <ng-template id="test" [ngOutletContext]="context" #eventContent let-arg>
          <b *ngIf="!arg.event.allDay">{{ arg.event.start | date: 'H:mm' }}{{arg.event.end | date: ' - H:mm'}} : </b>
          <b *ngIf="arg.event.allDay">{{ calendarOptions.slotMinTime}} - </b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar> -->
    </div>
  </div>
  
  <!-- 
  https://dribbble.com/shots/14959823-Dashboard-UI-Elements
  <div className="h-screen bg-gray-100 p-6">
    <div
      class='flex bg-white shadow-md justify-start md:justify-center rounded-lg overflow-x-scroll mx-auto py-4 px-2  md:mx-12 mb-10'>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-full mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p
              class='text-gray-900 group-hover:text-gray-100 text-sm transition-all  group-hover:font-semibold duration-300'>
              Sun </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 11
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-full mx-1 transition-all	duration-300	 cursor-pointer justify-center  w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p
              class='text-gray-900 group-hover:text-gray-100 text-sm transition-all  group-hover:font-semibold duration-300'>
              Mon </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 12
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-full mx-1 transition-all	duration-300	 cursor-pointer justify-center  w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p
              class='text-gray-900 group-hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold	duration-300'>
              Tue </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 13
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group bg-purple-600 shadow-lg dark-shadow rounded-full mx-1 cursor-pointer justify-center relative  w-16'>
        <span class="flex h-2 w-2 absolute bottom-1.5 ">
          <span
            class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-purple-400 "></span>
          <span class="relative inline-flex rounded-full h- w-3 bg-purple-100"></span>
        </span>
        <div class='flex items-center px-4 my-2 py-4'>
          <div class='text-center'>
            <p class='text-gray-100 text-sm font-semibold'> Wed </p>
            <p class='text-gray-100  mt-3 font-bold'> 14 </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-full mx-1 transition-all	duration-300 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p
              class='text-gray-900 group-hover:text-gray-100 text-sm transition-all  group-hover:font-semibold duration-300'>
              Thu </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 15
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-full mx-1 transition-all	duration-300	 cursor-pointer justify-center  w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p
              class='text-gray-900 group-hover:text-gray-100 text-sm transition-all  group-hover:font-semibold duration-300'>
              Fri </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 16
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-full mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p
              class='text-gray-900 group-hover:text-gray-100 text-sm transition-all  group-hover:font-semibold duration-300'>
              Sat </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 17
            </p>
          </div>
        </div>
      </div>
  
  
    </div>
    <div
      class='flex bg-white shadow-md justify-start md:justify-center rounded-lg overflow-x-scroll mx-auto py-4 px-2  md:mx-12'>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-gray-100 text-sm transition-all	duration-300'> Sun </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 11
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center  w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-gray-100 text-sm transition-all	duration-300'> Mon </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 12
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center  w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-gray-100 text-sm transition-all	duration-300'> Tue </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 13
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group bg-purple-600 shadow-lg dark-shadow rounded-lg mx-1 cursor-pointer justify-center relative  w-16'>
        <span class="flex h-3 w-3 absolute -top-1 -right-1">
          <span
            class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-purple-400 "></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-100"></span>
        </span>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-100 text-sm'> Wed </p>
            <p class='text-gray-100  mt-3 font-bold'> 14 </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-lg mx-1 transition-all	duration-300 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-gray-100 text-sm transition-all	duration-300'> Thu </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 15
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center  w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-gray-100 text-sm transition-all	duration-300'> Fri </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 16
            </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-500 hover:shadow-lg hover-dark-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-gray-100 text-sm transition-all	duration-300'> Sat </p>
            <p class='text-gray-900 group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all	duration-300'> 17
            </p>
          </div>
        </div>
      </div>
  
  
    </div>
  
    <br /><br />
  
    <div
      class='flex bg-white shadow-md justify-start md:justify-center rounded-lg overflow-x-scroll mx-auto py-4 px-2  md:mx-12'>
  
      <div
        class='flex group hover:bg-purple-100 hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-purple-900 text-sm transition-all	duration-300'> Sun </p>
            <p class='text-gray-900 group-hover:text-purple-900 mt-3 group-hover:font-bold transition-all	duration-300'>
              11 </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-100 hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-purple-900 text-sm transition-all	duration-300'> Mon </p>
            <p class='text-gray-900 group-hover:text-purple-900 mt-3 group-hover:font-bold transition-all	duration-300'>
              12 </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-100 hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-purple-900 text-sm transition-all	duration-300'> Tue </p>
            <p class='text-gray-900 group-hover:text-purple-900 mt-3 group-hover:font-bold transition-all	duration-300'>
              13</p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group bg-purple-300 shadow-lg light-shadow rounded-lg mx-1 cursor-pointer justify-center relative w-16 content-center'>
        <div class='flex items-center px-4 py-4'>
          <span class="flex h-3 w-3 absolute -top-1 -right-1">
            <span
              class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-purple-400 "></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span>
          </span>
          <div class='text-center'>
            <p class='text-purple-900 text-sm'> Wed </p>
            <p class='text-purple-900  mt-3 font-bold'> 14 </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-100 hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300 content-center	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-purple-900 text-sm transition-all	duration-300'> Thu </p>
            <p class='text-gray-900 group-hover:text-purple-900 mt-3 group-hover:font-bold transition-all	duration-300'>
              15 </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-100 hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-purple-900 text-sm transition-all	duration-300'> Fri </p>
            <p class='text-gray-900 group-hover:text-purple-900 mt-3 group-hover:font-bold transition-all	duration-300'>
              16 </p>
          </div>
        </div>
      </div>
  
      <div
        class='flex group hover:bg-purple-100 hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300	 cursor-pointer justify-center w-16'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <p class='text-gray-900 group-hover:text-purple-900 text-sm transition-all	duration-300'> Sat </p>
            <p class='text-gray-900 group-hover:text-purple-900 mt-3 group-hover:font-bold transition-all	duration-300'>
              17 </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  
  <!-- { /*variation light set*/ } -->
  <div class="text-xs md:text-base p-1">
    <div class="flex justify-center">
      <div (click)="onNavigatePreviousWeek()"
        class='flex md:hidden group hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300 cursor-pointer justify-center md:w-16 w-12'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <div class='flex align-middle group-hover:text-purple-900 text-sm transition-all	duration-300'>
              <mat-icon>navigate_before</mat-icon>
            </div>
          </div>
        </div>
      </div>
  
      <div class="flex align-middle font-semibold text-2xl">
        <p class="my-auto">
          {{ selectedWeek[0] | date:'MMMM y' }}
        </p>
      </div>
  
      <div (click)="onNavigateNextWeek()"
        class='flex md:hidden group hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300 cursor-pointer justify-center md:w-16 w-12'>
        <div class='flex items-center px-4 py-4'>
          <div class='text-center'>
            <div class='flex align-middle group-hover:text-purple-900 text-sm transition-all	duration-300'>
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class='flex bg-white shadow-md justify-start md:justify-center rounded-lg mx-auto py-4 px-2 md:mx-12'>
      <div class="grid max-w-full">
        <div class="flex py-2">
          <div (click)="onNavigatePreviousWeek()"
            class='hidden md:flex group hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300 cursor-pointer justify-center md:w-16 w-12'>
            <div class='flex items-center px-4 py-2'>
              <div class='text-center'>
                <p class=' group-hover:text-purple-900 text-sm transition-all	duration-300'>
                  <mat-icon>navigate_before</mat-icon>
                </p>
              </div>
            </div>
          </div>
  
          <div *ngFor="let day of selectedWeek"
            [ngClass]="(day | date:'MMM d, y') == (getCurrentDay() | date:'MMM d, y') ? 'bg-purple-300 relative' :'hover:bg-purple-100'"
            (click)="showBookingHours=true; selectedDate=day"
            class='flex group hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300 cursor-pointer justify-center md:w-16 w-10'>
            <div class='flex items-center px-4 py-4'>
              <span *ngIf="(day | date:'MMM d, y') == (getCurrentDay() | date:'MMM d, y')"
                class="flex h-3 w-3 absolute -top-1 -right-1">
                <span
                  class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-purple-400 "></span>
                <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span>
              </span>
              <div class='text-center'>
                <p [ngClass]="(day | date:'MMM d, y') == (getCurrentDay() | date:'MMM d, y') ? 'text-purple-900 font-medium' :''"
                  class=' group-hover:text-purple-900 text-sm transition-all	duration-300'> {{day | date:'EEE'}}
                </p>
                <p [ngClass]="(day | date:'MMM d, y') == (getCurrentDay() | date:'MMM d, y') ? 'text-purple-900 font-bold' :''"
                  class='text-gray-900 group-hover:text-purple-900 mt-3 group-hover:font-bold transition-all	duration-300'>
                  {{day | date:'d'}}</p>
              </div>
            </div>
          </div>
  
          <div (click)="onNavigateNextWeek()"
            class='hidden md:flex group hover:shadow-lg hover-light-shadow rounded-lg mx-1 transition-all	duration-300 cursor-pointer justify-center md:w-16 w-12'>
            <div class='flex items-center px-4 py-4'>
              <div class='text-center'>
                <p class=' group-hover:text-purple-900 text-sm transition-all	duration-300'>
                  <mat-icon>navigate_next</mat-icon>
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div *ngIf="showBookingHours" class="transition duration-300 max-w-lg mt-4 mx-auto w-full">
          <div class="relative pb-2">
            <button type="button" (click)="showBookingHours=false"
              class="absolute top-0 right-0 bg-white rounded-md p-2text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
            <span class="absolute left-0 top-0 font-bold">{{selectedDate | date: 'MMMM d, y'}}</span>
          </div>
          <div class="grid grid-cols-5 justify-center p-8">
            <ng-container *ngFor="let hour of availableHours">
              <button type="button"
                [ngClass]="hour.isBooked ? 'bg-gray-200 text-gray-800' : 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'"
                class="border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 mr-2 mb-2">
                {{hour.time}}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="flex items-center justify-center py-8 px-4">
    <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  
    <div class="max-w-4xl w-full shadow-lg">
      <div class="md:p-8 p-5 dark:bg-gray-800 bg-white rounded-t">
        <div class="px-4 flex items-center justify-between">
          <span tabindex="0" class="focus:outline-none  text-base font-bold dark:text-gray-100 text-gray-800">October
            2020</span>
          <div class="flex items-center">
            <button aria-label="calendar backward"
              class="focus:text-gray-400 hover:text-gray-400 text-gray-800 dark:text-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="15 6 9 12 15 18" />
              </svg>
            </button>
            <button aria-label="calendar forward"
              class="focus:text-gray-400 hover:text-gray-400 ml-3 text-gray-800 dark:text-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler  icon-tabler-chevron-right" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="9 6 15 12 9 18" />
              </svg>
            </button>
  
          </div>
        </div>
        <div class="flex items-center justify-between pt-12 overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr>
                <th>
                  <div class="w-full flex justify-center">
                    <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">Mo</p>
                  </div>
                </th>
                <th>
                  <div class="w-full flex justify-center">
                    <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">Tu</p>
                  </div>
                </th>
                <th>
                  <div class="w-full flex justify-center">
                    <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">We</p>
                  </div>
                </th>
                <th>
                  <div class="w-full flex justify-center">
                    <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">Th</p>
                  </div>
                </th>
                <th>
                  <div class="w-full flex justify-center">
                    <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">Fr</p>
                  </div>
                </th>
                <th>
                  <div class="w-full flex justify-center">
                    <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">Sa</p>
                  </div>
                </th>
                <th>
                  <div class="w-full flex justify-center">
                    <p class="text-base md:text-xl p-2 font-medium text-center text-gray-800 dark:text-gray-100">Su</p>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pt-6">
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                </td>
                <td class="pt-6">
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center"></div>
                </td>
                <td class="pt-6">
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">1</p>
                  </div>
                </td>
                <td class="pt-6">
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">2</p>
                  </div>
                </td>
                <td class="pt-6">
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">3</p>
                  </div>
                </td>
                <td class="pt-6">
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">4</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">5</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">6</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">7</p>
                  </div>
                </td>
                <td>
                  <div class="w-full h-full">
                    <div class="flex items-center justify-center w-fit mx-auto rounded-full cursor-pointer relative">
                      <span class="flex h-3 w-3 md:h-4 md:w-4 absolute -top-1 -right-1">
                        <span
                          class="animate-ping absolute group-hover:opacity-75 opacity-60 inline-flex h-full w-full rounded-full bg-indigo-300 "></span>
                        <span
                          class="relative inline-flex rounded-full h-3 w-3 md:h-4 md:w-4 bg-indigo-500 dark:bg-indigo-800"></span>
                      </span>
                      <a role="link" tabindex="0"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:bg-indigo-500 hover:bg-indigo-500 text-lg md:text-xl p-2 w-12 h-12 md:h-16 md:w-16 flex items-center justify-center font-medium text-white bg-indigo-400 dark:bg-indigo-600 rounded-xl">8</a>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-center w-fit mx-auto rounded-full cursor-pointer relative">
                    <a role="link" tabindex="0"
                      class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-200 focus:bg-indigo-300 hover:bg-indigo-100 text-lg md:text-xl p-2 w-12 h-12 md:h-16 md:w-16 flex items-center justify-center font-medium text-black rounded-xl">8</a>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">10</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">11</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">12</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">13</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">14</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">15</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">16</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">17</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">18</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">19</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">20</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">21</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">22</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">23</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">24</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-400 dark:text-gray-100">25</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">26</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">27</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">28</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">29</p>
                  </div>
                </td>
                <td>
                  <div class="px-2 py-2 cursor-pointer flex w-full justify-center">
                    <p class="text-lg md:text-xl p-2 text-gray-800 dark:text-gray-100 font-medium">30</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="md:py-8 py-5 md:px-16 px-5 dark:bg-gray-700 bg-gray-50 rounded-b">
        <div class="px-4">
          <div class="border-b pb-4 border-gray-400 border-dashed">
            <p class="text-xs font-light leading-3 text-gray-800 dark:text-gray-300">9:00 AM</p>
            <a tabindex="0"
              class="focus:outline-none text-lg font-medium leading-5 text-gray-800 dark:text-gray-100 mt-2">Zoom call
              with design team</a>
            <p class="text-sm pt-2 leading-4 leading-none text-gray-600 dark:text-gray-300">Discussion on UX sprint and
              Wireframe review</p>
          </div>
          <div class="border-b pb-4 border-gray-400 border-dashed pt-5">
            <p class="text-xs font-light leading-3 text-gray-800 dark:text-gray-300">10:00 AM</p>
            <a tabindex="0"
              class="focus:outline-none text-lg font-medium leading-5 text-gray-800 dark:text-gray-100 mt-2">Orientation
              session with new hires</a>
          </div>
          <div class="border-b pb-4 border-gray-400 border-dashed pt-5">
            <p class="text-xs font-light leading-3 text-gray-800 dark:text-gray-300">9:00 AM</p>
            <a tabindex="0"
              class="focus:outline-none text-lg font-medium leading-5 text-gray-800 dark:text-gray-100 mt-2">Zoom call
              with design team</a>
            <p class="text-sm pt-2 leading-4 leading-none text-gray-600 dark:text-gray-300">Discussion on UX sprint and
              Wireframe review</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  