
<div *ngIf="showAdditionalService" class="flex absolute right-0 z-10 flex-row pl-4 py-2 m-2 gap-2 items-center border rounded-lg shadow overflow-hidden bg-gray-50 border-blue-600">
	<span class="flex-shrink-0 inline-flex item-center justify-center leading-none rounded-full bg-blue-600 text-gray-50">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6">
			<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
		</svg>
	</span>
	<div class="flex-1">
		<p class="text-sm sm:text-base text-gray-500 tracking-tighter">Предлагаме допълнителна услуга за тестване на амортисьори с такса от 20.00 лв.</p>
	</div>
	<button (click)="closeAdditionalServiceNotification()" type="button" class="p-3 text-gray-600">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4">
			<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
		</svg>
	</button>
</div>

<section class="relative flex md:h-screen md:items-center max-h-screen">
  <div class="z-10 bg-white lg:bg-inherit mx-auto max-[360px]:mt-32 mt-40 md:mt-0 text-center tracking-tighter">
    <div class="w-full md:w-10/12 md:mx-auto lg:w-8/12 xl:w-7/12 lg:mx-0 px-4">
      <h2 class="font-semibold text-2xl md:text-4xl text-gray-600">Опростете
        резервирането
        за годишен технически преглед с нашата онлайн услуга.</h2>
      <p class="mt-4 text-base leading-relaxed text-gray-500">
        Добре дошли в нашата услуга за резервиране за годишен технически преглед, където нашата цел е да
        улесним, възможно най-много, резервирането на своя годишен преглед. Нашата платформа предлага лесен процес за
        резервиране на час, само с няколко кликвания.
      </p>
      <div class="mt-4">
        <!-- <a href="https://www.creative-tim.com/learning-lab/tailwind/react/overview/notus?ref=nr-index"
                target="_blank"
                class="text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blue-500 active:bg-blue-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                Get started</a> -->
        <button
          class="my-4 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none bg-gray-700 active:bg-gray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          routerLink="/appointment" target="_blank">Направете резервация</button>
      </div>
    </div>
  </div>
  <img alt="..."
    class="hidden lg:block absolute top-0 b-auto right-0 pt-16 sm:pt-0 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860px"
    src="https://demos.creative-tim.com/notus-react/static/media/pattern_react.01996482.png">
  <img alt="..." class="block lg:hidden absolute top-0 b-auto right-0 pt-16 w-12/12 -mt-50 max-[450px]:-mt-32 -mt-56 md:bg-white max-h-860px"
    src="assets/img/landing-page/pattern.png">
</section>


<section class="mt-20 md:mt-0 pb-40 relative bg-gray-100 tracking-tighter">
  <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0px);">
    <svg class="absolute bottom-0 overflow-hidden" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
      xmlns="http://www.w3.org/2000/svg" y="0">
      <polygon class="text-gray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="justify-center text-center flex flex-wrap">
    <div class="w-full md:w-6/12 px-6 md:px-4">
      <h2 class="font-semibold text-2xl md:text-4xl">Какво включва нашият годишен технически преглед?</h2>
      <p class="md:text-lg leading-relaxed my-6 text-gray-500">Нашият годишен технически преглед включва
        цялостна проверка на системите и
        компонентите на вашия автомобил, като гарантира, че е безопасен и годен за движение. Доверете ни се, за
        да ви осигурим спокойствие, докато шофирате.</p>
    </div>
  </div>
  <div class="container max-w-8xl mx-auto mt-20 md:mt-40 grid gap-y-10 lg:gap-y-20 xl:gap-y-40">
    <!-- Engine Check -->
    <div class="relative flex flex-wrap items-center px-2">
      <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
        <img alt="..." class="md:tilt-right max-w-full rounded-lg shadow-xl mx-auto"
          src="assets/img/landing-page/landing-page-1.jpg">
      </div>
      <div class="w-full md:w-6/12 p-6 text-center">
        <div class="flex-auto mx-auto">
          <div class="md:flex md:space-x-4 justify-center mb-2">
            <img alt="Engine"
              class="absolute left-2 -top-4 md:static p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
              src="assets/img/landing-page/car-engine.png" />
            <span class="text-xl lg:text-2xl my-auto font-semibold">Проверка на двигателя</span>
          </div>
          <p class="mb-4 text-base lg:text-xl text-gray-500">Поддържайте безпроблемната работа на вашия
            двигател с
            нашата цялостна услуга за проверка на двигателя. Нашите техници ще прегледат щателно
            вашия двигател и неговите компоненти, за да идентифицират потенциални проблеми и ще
            дадат препоръки за ремонт, ако е необходимо.</p>
        </div>
      </div>
    </div>

    <!-- Suspension Check -->
    <div class="relative flex flex-wrap items-center px-2">
      <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0 order-first md:order-last">
        <img alt="..." class="md:tilt-left max-w-full rounded-lg shadow-xl mx-auto"
          src="assets/img/landing-page/landing-page-suspention.jpg">
      </div>
      <div class="w-full md:w-6/12 p-6 text-center">
        <div class="flex-auto mx-auto">
          <div class="md:flex md:space-x-4 justify-center mb-2">
            <img alt="Engine"
              class="absolute left-2 -top-4 md:static p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
              src="assets/img/landing-page/suspension.png" />
            <span class="text-xl lg:text-2xl my-auto font-semibold">Проверка на оси, колела, гуми и окачване</span>
          </div>
          <p class="mb-4 text-base lg:text-xl text-gray-500">Плавното возене е важно и нашата услуга за
            проверка на окачването гарантира точно това. Нашите техници ще прегледат вашите амортисьори,
            подпори и други компоненти
            на окачването, за да установят потенциално износване или повреда и да дадат препоръки за ремонт,
            ако е необходимо.</p>
        </div>
      </div>
    </div>

    <!-- Brake System Check -->
    <div class="relative flex flex-wrap items-center px-2">
      <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
        <img alt="..." class="md:tilt-right max-w-full rounded-lg shadow-xl mx-auto"
          src="assets/img/landing-page/landing-page-brakes.jpg">
      </div>
      <div class="w-full md:w-6/12 p-6 text-center">
        <div class="flex-auto mx-auto">
          <div class="md:flex md:space-x-4 justify-center mb-2">
            <img alt="Engine"
              class="absolute left-2 -top-4 md:static p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
              src="assets/img/landing-page/brake-disc.png" />
            <span class="text-xl lg:text-2xl my-auto font-semibold">Цялостна проверка на спирачната система</span>
          </div>
          <p class="mb-4 text-base lg:text-xl text-gray-500">Осигурете безопасността на вас и вашите пътници с
            нашата услуга за проверка на спирачките. Нашите техници ще проверят вашите спирачни накладки, ротори и
            апарати,
            както и нивата на спирачната ви течност, за да се уверят, че спирачките ви са в добро работно
            състояние.</p>
        </div>
      </div>
    </div>

    <!-- Steering Check -->
    <div class="relative flex flex-wrap items-center px-2">
      <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0 order-first md:order-last">
        <img alt="..." class="md:tilt-left max-w-full rounded-lg shadow-xl mx-auto"
          src="assets/img/landing-page/landing-page-steering-mechanism.jpg">
      </div>
      <div class="w-full md:w-6/12 p-6 text-center">
        <div class="flex-auto mx-auto">
          <div class="md:flex md:space-x-4 justify-center mb-2">
            <img alt="Engine"
              class="absolute left-2 -top-4 md:static p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
              src="assets/img/landing-page/steering-wheel.png" />
            <span class="text-xl lg:text-2xl my-auto font-semibold">Цялостна проверка на кормилната система</span>
          </div>
          <p class="mb-4 text-base lg:text-xl text-gray-500">Нашата услуга за годишен технически преглед
            предприема необходимите стъпки, за да гарантира, че вашият автомобил е годен за движение,
            включително цялостна проверка на кормилната система. Нашите опитни техници са обучени да
            използват различни инструменти и техники за откриване на потенциални проблеми, като гарантират, че вашият
            автомобил
            се движи гладко и безопасно на пътя.
          </p>
        </div>
      </div>
    </div>

    <!-- ID & Documents Check -->
    <div class="relative flex flex-wrap items-center px-2">
      <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
        <img alt="..." class="md:tilt-right max-w-full rounded-lg shadow-xl mx-auto"
          src="assets/img/landing-page/landing-page-verification.jpg">
      </div>
      <div class="w-full md:w-6/12 p-6 text-center">
        <div class="flex-auto mx-auto">
          <div class="md:flex md:space-x-4 justify-center mb-2">
            <img alt="Engine"
              class="absolute left-2 -top-4 md:static p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
              src="assets/img/landing-page/document.png" />
            <span class="text-xl lg:text-2xl my-auto font-semibold">Идентифициращи табели и документи</span>
          </div>
          <p class="mb-4 text-base lg:text-xl text-gray-500">Проверката на идентификационните табели и
            документи е важен аспект от вашия годишен технически преглед. Нашият екип от експерти ще провери
            щателно идентификационните табели и документи на вашия автомобил, за да гарантира, че са
            актуални и съответстват на информацията на вашия автомобил. Това ще гарантира, че вашето
            превозно средство е правилно регистрирано и отговаря на всички законови изисквания.
          </p>
        </div>
      </div>
    </div>

    <!-- Lights & Electrical Check -->
    <div class="relative flex flex-wrap items-center px-2">
      <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0 order-first md:order-last">
        <img alt="..." class="md:tilt-left max-w-full rounded-lg shadow-xl mx-auto"
          src="assets/img/landing-page/landing-page-wiring.jpg">
      </div>
      <div class="w-full md:w-6/12 p-6 text-center">
        <div class="flex-auto mx-auto">
          <div class="md:flex md:space-x-4 justify-center mb-2">
            <img alt="Engine"
              class="absolute left-2 -top-4 md:static p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
              src="assets/img/landing-page/headlight.png" />
            <span class="text-xl lg:text-2xl my-auto font-semibold">Светлини и електрическо оборудване</span>
          </div>
          <p class="mb-4 text-base lg:text-xl text-gray-500">Нашата услуга за годишен технически преглед
            обхваща цялостна оценка на вашия автомобил, включително състоянието и работата на светлините и
            електрическото оборудване. Нашите техници са добре обучени и оборудвани,
            за да извършат задълбочена проверка на осветителната система на вашия автомобил, включително
            фаровете, задните светлини, сигналните светлини и др., за да се уверят, че функционират правилно
            и осигуряват оптимална видимост на пътя.
          </p>
        </div>
      </div>
    </div>

    <!-- Additionals Check -->
    <div class="relative flex flex-wrap items-center px-2">
      <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
        <img alt="..." class="md:tilt-right max-w-full rounded-lg shadow-xl mx-auto"
          src="assets/img/landing-page/landing-page-additional-equipment.jpg">
      </div>
      <div class="w-full md:w-6/12 p-6 text-center">
        <div class="flex-auto mx-auto">
          <div class="md:flex md:space-x-4 justify-center mb-2">
            <img alt="Engine"
              class="absolute left-2 -top-4 md:static p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
              src="assets/img/landing-page/additionals.png" />
            <span class="text-xl lg:text-2xl my-auto font-semibold">Допълнително оборудване</span>
          </div>
          <p class="mb-4 text-base lg:text-xl text-gray-500">Нашият екип от експерти ще провери щателно цялото
            допълнително оборудване във вашия автомобил, за да гарантира правилното му функциониране,
            включително предпазни колани, комплекти за първа помощ, пожарогасители, скоростомери, клаксони и
            др. Това е от решаващо значение, за да се гарантира, че вашият автомобил е оборудван с всички
            необходими мерки за безопасност в случай на авария.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="justify-center text-center flex flex-wrap mt-24 md:mt-40">
    <div class="w-full md:w-6/12 px-4 md:px-4">
      <h2 class="font-semibold text-2xl md:text-4xl">Защо онлайн резервация?</h2>
      <p class="md:text-lg leading-relaxed my-6 text-gray-500">Онлайн резервацията за вашия годишен технически
        преглед е най-удобният и ефективен начин да се уверите, че автомобилът ви отговаря на необходимите
        разпоредби. С нашата услуга за онлайн резервации можете лесно да планирате резервация в удобно за вас
        време, без да се налага да чакате на опашка или да вдигате телефона. Освен това ще имате незабавен достъп до
        цялата важна информация, свързана с вашия час, което ще направи процеса бърз, безпроблемен и без стрес.
        Резервирайте своя преглед днес и изпитайте многото предимства на онлайн резервацията.</p>
    </div>
    <!-- <div class="container mx-auto mt-44">
      <div class="flex flex-wrap items-center">
        <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blue-500">
            <img alt="..." class="w-full align-middle rounded-t-lg" src="assets/img/landing-page/landing-page-1.jpg">
            <blockquote class="relative p-8 mb-4">
              <svg class="absolute left-0 w-full block h-[95px] -top-[94px]" preserveAspectRatio="none"
                viewBox="0 0 583 95" xmlns="http://www.w3.org/2000/svg">
                <polygon class="text-blue-500 fill-current" points="-30,95 583,95 583,65"></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">Проверка на двигателя</h4>
              <p class="text-md font-light mt-2 text-white">Поддържайте безпроблемната работа на вашия
                двигател с нашата цялостна услуга за проверка на двигателя. Нашите техници ще прегледат
                щателно вашия двигател
                и неговите компоненти, за да идентифицират потенциални проблеми и ще дадат препоръки за
                ремонт, ако е необходимо.</p>
            </blockquote>
          </div>
        </div>
        <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blue-500">
            <img alt="..." class="w-full align-middle rounded-t-lg"
              src="assets/img/landing-page/landing-page-brakes.jpg">
            <blockquote class="relative p-8 mb-4">
              <svg class="absolute left-0 w-full block h-[95px] -top-[94px]" preserveAspectRatio="none"
                viewBox="0 0 583 95" xmlns="http://www.w3.org/2000/svg">
                <polygon class="text-blue-500 fill-current" points="-30,95 583,95 583,65"></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">Проверка на спирачките</h4>
              <p class="text-md font-light mt-2 text-white">Осигурете безопасността на вас и вашите
                пътници с
                нашата услуга за проверка на спирачките. Нашите техници ще проверят вашите спирачни
                накладки, ротори и апарати, както и нивата на спирачната ви течност, за да се уверят, че
                спирачките ви са в добро работно състояние.</p>
            </blockquote>
          </div>
        </div>
        <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blue-500">
            <img alt="..." class="w-full align-middle rounded-t-lg"
              src="assets/img/landing-page/landing-page-suspention.jpg">
            <blockquote class="relative p-8 mb-4">
              <svg class="absolute left-0 w-full block h-[95px] -top-[94px]" preserveAspectRatio="none"
                viewBox="0 0 583 95" xmlns="http://www.w3.org/2000/svg">
                <polygon class="text-blue-500 fill-current" points="-30,95 583,95 583,65"></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">Проверка на окачването</h4>
              <p class="text-md font-light mt-2 text-white">Плавното возене е важно и нашата услуга за
                проверка на окачването гарантира точно това. Нашите техници ще прегледат вашите
                амортисьори,
                подпори и други компоненти на окачването, за да установят потенциално износване или
                повреда
                и да
                дадат препоръки за ремонт, ако е необходимо.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>