<div class="flex flex-col md:flex-row items-center justify-center px-4 pb-2">
  <div class="max-w-4xl md:h-screen w-full rounded-lg rounded-b-none md:rounded-r-none shadow-lg bg-gray-50">
    <div class="md:p-4 p-1 dark:bg-gray-800 bg-white rounded-t">
      <app-calendar-header [currentDate]="selectedDate$ | async" (navigateNext)="onNavigateNextMonth()"
        (navigatePrevious)="onNavigatePreviousMonth()"></app-calendar-header>
      <app-calendar-body [calendarMatrix]="calendar" [selectedDate]="selectedDate$ | async"
        (showBookingHoursEvent)="onShowBookingHours($event)"
        (changeSelectedDate)="onChangeSelectedDate($event)"></app-calendar-body>
    </div>
    <app-booking-hours [dayData$]="currentDateData$" [currentDate]="selectedDate$ | async"
      [showBookingHours]="showBookingHours" (bookingTime)="onBookingTimeSelected($event)"></app-booking-hours>
  </div>

  <app-booking-form [bookingTime]="(bookingTime$ | async)" [date]="(selectedDate$ | async)!"></app-booking-form>

</div>