<div class="px-4 flex items-center justify-center">
    <div class="flex items-center">
        <button aria-label="calendar backward" (click)="onNavigatePreviousMonth()"
            class="hover:text-gray-400 mr-3 text-gray-800 dark:text-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="15 6 9 12 15 18" />
            </svg>
        </button>
        <span *ngIf="currentDate" tabindex="0"
            class="focus:outline-none  text-2xl font-bold dark:text-gray-100 text-gray-800">
            {{monthNames[currentDate.getMonth()]}} {{ currentDate | date: 'yyyy' }}
        </span>
        <button aria-label="calendar forward" (click)="onNavigateNextMonth()"
            class="hover:text-gray-400 ml-3 text-gray-800 dark:text-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler  icon-tabler-chevron-right"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="9 6 15 12 9 18" />
            </svg>
        </button>
    </div>
</div>