<div
    class="flex-1 max-w-lg w-full mx-auto px-4 md:px-10 lg:shadow py-4 pb-8 sm:py-8 rounded-lg rounded-t-none md:rounded-l-none bg-white text-gray-800 dark:bg-gray-800 dark:text-white">
    <h2 data-test="title" class="md:mb-3 md:text-3xl font-semibold text-center">Записване на час за:</h2>
    <h2 data-test="title" class="md:mb-3 md:text-xl font-semibold text-center">
        {{monthNames[date!.getMonth()]}}
        {{date | date: ' d, yyyy'}}
        <span *ngIf="bookingTime"> - {{bookingTime}}ч.</span>
    </h2>
    <div class="flex items-center w-full my-4">
        <hr class="w-full text-gray-600">
    </div>
    <form data-test="form" [formGroup]="form" (ngSubmit)="submit()" class="ng-untouched ng-pristine ng-valid">
        <!-- First Name Form Field -->
        <div class="space-y-1 mb-3 form-group">
            <label class="block text-sm md:text-base font-semibold" for="firstName">Име</label>
            <input [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
                class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                formControlName="firstName" placeholder="Име" type="text">
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <p *ngIf="f['firstName'].errors['required']" class="text-red-500 text-sm italic">
                    Полето за име не може да бъде оставено празно.</p>
            </div>
        </div>

        <!-- Last Name Form Field -->
        <div class="space-y-1 mb-3 form-group">
            <label class="block text-sm md:text-base font-semibold pl-1" for="lastName">Фамилия</label>
            <input [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
                class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                formControlName="lastName" placeholder="Фамилно име" type="text">
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                <p *ngIf="f['lastName'].errors['required']" class="text-red-500 text-sm italic">Полето за фамилия не
                    може да бъде оставено празно.</p>
            </div>
        </div>

        <!-- Phone Form Field -->
        <div class="space-y-1 mb-3">
            <label class="text-sm md:text-base font-semibold pl-1" for="phone">Телефон</label>
            <input [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
                class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                formControlName="phone" placeholder="Телефон #" type="phone">
            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                <p *ngIf="f['phone'].errors['required']" class="text-red-500 text-sm italic">
                    Полето за телефонен номер не може да бъде оставено празно.</p>
                <p *ngIf="f['phone'].errors['minlength']" class="text-red-500 text-sm italic">
                    Телефонният номер трябва да съдържа поне 6 цифри.</p>
                <p *ngIf="f['phone'].errors['maxlength']" class="text-red-500 text-sm italic">
                    Телефонният номер не трябва да надвишава 15 цифри.</p>
            </div>
        </div>

        <!-- Vehicle Registration Number Field -->
        <div class="space-y-1 mb-3">
            <label class="text-sm md:text-base font-semibold pl-1" for="registrationNumber">Информация за
                автомобила</label>
            <input [ngClass]="{ 'is-invalid': submitted && f['registrationNumber'].errors }"
                class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                formControlName="registrationNumber" placeholder="РЕГ. №" type="text">
            <div *ngIf="submitted && f['registrationNumber'].errors" class="invalid-feedback">
                <p *ngIf="f['registrationNumber'].errors['required']" class="text-red-500 text-sm italic">Полето за
                    регистрационен номер не може да бъде оставено празно.</p>
            </div>
        </div>

        <ng-container *ngIf="bookingFormData$ | async as data">
            <!-- Vehicle Category Form Field -->
            <div class="space-y-1 mb-3">
                <label class="text-sm md:text-base font-semibold pl-1" for="vehicleCategory">Категория</label>
                <p class="text-xs italic">*За превозни средства с ВНГ/СПГ се доплаща допълнителна такса от 6.00 лв.*</p>
                <select [ngClass]="{ 'is-invalid': submitted && f['vehicleCategory'].errors }"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-xs md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="vehicleCategory" id="vehicleCategory">
                    <option *ngFor="let category of data.vehicleCategories" [value]="category">{{category}}</option>

                </select>
                <div *ngIf="submitted && f['vehicleCategory'].errors" class="invalid-feedback">
                    <p *ngIf="f['vehicleCategory'].errors['required']" class="text-red-500 text-sm italic">
                        Полето за категория не може да бъде оставено празно.</p>
                </div>
            </div>

            <!-- Booking Type Form Field -->
            <div class="space-y-1 mb-3">
                <label class="text-sm md:text-base font-semibold pl-1" for="bookingType">Услуга</label>
                <select [ngClass]="{ 'is-invalid': submitted && f['bookingType'].errors }"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="bookingType" id="bookingType">
                    <option *ngFor="let service of data.services" [value]="service">{{service}}</option>
                </select>
                <div *ngIf="submitted && f['bookingType'].errors" class="invalid-feedback">
                    <p *ngIf="f['bookingType'].errors['required']" class="text-red-500 text-sm italic">Полето за услуга
                        не
                        може да бъде оставено празно.</p>
                </div>
            </div>

            <!-- Additional Services -->
            <div class="space-y-1 mb-3">
                <h3 class="text-sm md:text-base font-semibold pl-1">Допълнителни услуги</h3>
                <ul
                    class="w-full mb-4 text-sm font-medium divide-y text-gray-900 bg-transparent border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li *ngFor="let item of data.additionalServices" class="w-full dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input (change)="checkValue($event)" [value]="item" [id]="item" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-transparent dark:focus:ring-transparent dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label [for]="item"
                                class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{item}}</label>
                        </div>
                    </li>

                </ul>
            </div>
        </ng-container>

        <div class="space-y-1 mb-3">
            <p class="font-semibold text-base">Ден: <span>{{monthNames[date!.getMonth()]}}
                    {{date | date: ' dd, yyyy'}}</span></p>
            <p *ngIf="bookingTime" class="font-semibold text-base">Час: <span>{{bookingTime}}ч.</span></p>
        </div>

        <!-- Submit Button -->
        <p *ngIf="!bookingTime" class="text-red-500 text-sm italic mt-6 mb-1">Моля, изберете час за резервация.</p>
        <button data-test="submit" [ngClass]="bookingTime == undefined ? 'bg-gray-200 pointer-events-none' : ''"
            class="w-full px-8 py-2 font-semibold text-base rounded-md bg-blue-600 text-gray-50" type="submit">
            <svg *ngIf="isLoading" aria-hidden="true" class="inline w-4 h-4 mr-3 text-white animate-spin" fill="none"
                role="status" viewBox="0 0 100 101" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor" />
            </svg>
            <span *ngIf="isLoading">Processing...</span>
            <span *ngIf="!isLoading">Записване</span>
        </button>

    </form>
</div>