<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
    <div class="container mx-auto items-center flex flex-wrap">
      <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
        <div class="pt-8 sm:pt-0">
          <h2 class="font-semibold text-3xl md:text-4xl text-gray-600">Опростете резервирането
            за годишен технически преглед с нашата онлайн услуга.</h2>
          <p class="mt-4 text-lg leading-relaxed text-gray-500">
            Добре дошли в нашата услуга за резервиране за годишен технически преглед, където нашата цел е да
            улесним резервирането на своя годишен преглед. Нашата платформа предлага лесен процес за резервиране на час,
            само с няколко
            кликвания.
          </p>
          <div class="mt-12">
            <!-- <a href="https://www.creative-tim.com/learning-lab/tailwind/react/overview/notus?ref=nr-index"
                target="_blank"
                class="text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blue-500 active:bg-blue-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                Get started</a> -->
            <a
              class="ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-gray-700 active:bg-gray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
              href="#"
              target="_blank">Към резервиране</a>
          </div>
        </div>
      </div>
    </div>
    <img alt="..."
         class="absolute top-0 b-auto right-0 pt-28 sm:pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860px"
         src="https://demos.creative-tim.com/notus-react/static/media/pattern_react.01996482.png">
  </section>
  
  
  <!-- Mobile View -->
  <section class="mt-20 md:mt-40 pb-40 relative bg-gray-100">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0px);">
      <svg class="absolute bottom-0 overflow-hidden" preserveAspectRatio="none" version="1.1"
           viewBox="0 0 2560 100" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
        <polygon class="text-gray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="justify-center text-center flex flex-wrap">
      <div class="w-full md:w-6/12 px-12 md:px-4">
        <h2 class="font-semibold text-3xl md:text-4xl">Какво включва нашият годишен технически преглед?</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">Нашият годишен технически преглед включва
          цялостна проверка на системите и
          компонентите на вашия автомобил, като гарантира, че е безопасен и годен за движение. Доверете ни се, за
          да ви осигурим спокойствие, докато шофирате.</p>
      </div>
    </div>
    <div class="container mx-auto overflow-hidden pb-20">
      <div class="flex flex-wrap items-top">
        <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20">
          <div
            class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-2 shadow-lg rounded-full bg-white">
            <img alt="Suspention" src="assets/img/landing-page/brake-disc.png"/>
          </div>
          <h3 class="text-2xl md:text-3xl mb-2 font-semibold leading-normal">Цялостна проверка на спирачната
            система</h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-600">Осигурете безопасността на вас
            и вашите пътници с нашата услуга за проверка на спирачките. Нашите техници ще проверят вашите
            спирачни накладки, ротори и апарати, както и нивата на спирачната ви течност, за да се уверят, че
            спирачките ви са в добро работно състояние.
          </p>
        </div>
        <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20">
          <div
            class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-2 shadow-lg rounded-full bg-white">
            <img alt="Suspention" src="assets/img/landing-page/suspension.png"/>
          </div>
          <h3 class="text-2xl md:text-3xl mb-2 font-semibold leading-normal">Проверка на оси, колела, гуми
            и окачване</h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-600">Плавното возене е важно и
            нашата услуга за
            проверка на окачването гарантира точно това. Нашите техници ще прегледат вашите амортисьори,
            подпори и други компоненти
            на окачването, за да установят потенциално износване или повреда и да дадат препоръки за ремонт,
            ако е необходимо.</p>
        </div>
        <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20">
          <div
            class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-2 shadow-lg rounded-full bg-white">
            <img alt="Suspention" src="assets/img/landing-page/steering-wheel.png"/>
          </div>
          <h3 class="text-2xl md:text-3xl mb-2 font-semibold leading-normal">Цялостна проверка на
            кормилната система</h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-600">Нашата услуга за годишен
            технически преглед
            предприема необходимите стъпки, за да гарантира, че вашият автомобил е годен за движение,
            включително цялостна проверка на кормилната система. Нашите опитни техници са обучени да
            използват различни
            инструменти и техники за откриване на потенциални проблеми, като гарантират, че вашият автомобил
            се движи гладко и безопасно на пътя.
          </p>
        </div>
        <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20">
          <div
            class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-2 shadow-lg rounded-full bg-white">
            <img alt="Suspention" src="assets/img/landing-page/document.png"/>
          </div>
          <h3 class="text-2xl md:text-3xl mb-2 font-semibold leading-normal">Идентификационни табели и документи
          </h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-600">Проверката на
            идентификационните табели и
            документи е важен аспект от вашия годишен технически преглед. Нашият екип от експерти ще провери
            щателно идентификационните табели и документи на вашия автомобил, за да гарантира, че са
            актуални и съответстват на информацията на вашия автомобил. Това ще гарантира, че вашето
            превозно средство е правилно регистрирано и отговаря на всички законови изисквания.
          </p>
        </div>
        <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20">
          <div
            class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-2 shadow-lg rounded-full bg-white">
            <img alt="Suspention" src="assets/img/landing-page/headlight.png"/>
          </div>
          <h3 class="text-2xl md:text-3xl mb-2 font-semibold leading-normal">Светлини и електрическо оборудване
          </h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-600">Нашата услуга за годишен
            технически преглед
            обхваща цялостна оценка на вашия автомобил, включително състоянието и работата на светлините и
            електрическото оборудване. Нашите техници са добре обучени и оборудвани,
            за да извършат задълбочена проверка на осветителната система на вашия автомобил, включително
            фаровете, задните светлини, сигналните светлини и др., за да се уверят, че функционират правилно
            и осигуряват оптимална видимост на пътя.
          </p>
        </div>
        <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-20">
          <div
            class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-2 shadow-lg rounded-full bg-white">
            <img alt="Suspention" src="assets/img/landing-page/additionals.png"/>
          </div>
          <h3 class="text-2xl md:text-3xl mb-2 font-semibold leading-normal">Допълнително оборудване</h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-600">Нашият екип от експерти ще провери
            щателно цялото
            допълнително оборудване във вашия автомобил, за да гарантира правилното му функциониране,
            включително предпазни колани, комплекти за първа помощ, пожарогасители, скоростомери, клаксони и
            др. Това е от решаващо значение, за да се гарантира, че вашият автомобил е оборудван с всички
            необходими мерки за безопасност в случай на авария.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="mt-48 md:mt-40 pb-40 relative bg-gray-100">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0px);">
      <svg class="absolute bottom-0 overflow-hidden" preserveAspectRatio="none" version="1.1"
           viewBox="0 0 2560 100" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
        <polygon class="text-gray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container max-w-8xl mx-auto mt-36 grid gap-y-10 lg:gap-y-20 xl:gap-y-40">
      <div class="flex flex-wrap items-center px-6">
        <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
          <img alt="..." class="tilt-right max-w-full rounded-lg shadow-xl mx-auto"
               src="assets/img/landing-page/landing-page-1.jpg">
        </div>
        <div class="relative w-full md:w-6/12 p-6">
          <div class="flex-auto mx-auto">
            <div class="md:flex space-x-4 mb-2">
              <img alt="Engine"
                   class="p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
                   src="assets/img/landing-page/car-engine.png"/>
              <h6 class="text-xl lg:text-2xl my-auto font-semibold">Проверка на двигателя</h6>
            </div>
            <p class="mb-4 text-base lg:text-xl text-gray-500">Поддържайте безпроблемната работа на вашия
              двигател с
              нашата цялостна услуга за проверка на двигателя. Нашите техници ще прегледат щателно
              вашия двигател и неговите компоненти, за да идентифицират потенциални проблеми и ще
              дадат препоръки за ремонт, ако е необходимо.</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center grid-cols-1 px-6">
        <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0 order-first md:order-last">
          <img alt="..." class="tilt-left max-w-full rounded-lg shadow-xl mx-auto"
               src="assets/img/landing-page/landing-page-suspention.jpg">
        </div>
        <div class="relative w-full md:w-6/12 p-6">
          <div class="flex-auto mx-auto">
            <div class="flex space-x-4 mb-2">
              <img alt="Suspention"
                   class="absolute inset-2 -left-6 p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
                   src="assets/img/landing-page/suspension.png"/>
              <h6 class="text-2xl md:text-xl lg:text-2xl my-auto font-semibold">Проверка на оси, колела, гуми
                и окачване</h6>
            </div>
            <p class="mb-4 text-base lg:text-xl text-gray-500">Плавното возене е важно и нашата услуга за
              проверка на окачването гарантира точно това. Нашите техници ще прегледат вашите амортисьори,
              подпори и други компоненти
              на окачването, за да установят потенциално износване или повреда и да дадат препоръки за ремонт,
              ако е необходимо.</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center grid-cols-1 px-6">
        <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
          <img alt="..." class="tilt-right max-w-full rounded-lg shadow-xl mx-auto"
               src="assets/img/landing-page/landing-page-brakes.jpg">
        </div>
        <div class="relative w-full md:w-6/12 p-6">
          <div class="flex-auto mx-auto">
            <div class="flex space-x-4 mb-2">
              <img alt="Braking system"
                   class="absolute inset-2 -left-6 p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
                   src="assets/img/landing-page/brake-disc.png"/>
              <h6 class="text-2xl md:text-xl lg:text-2xl my-auto font-semibold">Цялостна проверка на
                спирачната система
              </h6>
            </div>
            <p class="mb-4 text-base lg:text-xl text-gray-500">Осигурете безопасността на вас и вашите пътници с
              нашата
              услуга за
              проверка на спирачките. Нашите техници ще проверят вашите спирачни накладки, ротори и апарати,
              както и нивата на спирачната ви течност, за да се уверят, че спирачките ви са в добро работно
              състояние.</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center grid-cols-1 px-6">
        <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0 order-first md:order-last">
          <img alt="..." class="tilt-left max-w-full rounded-lg shadow-xl mx-auto"
               src="assets/img/landing-page/landing-page-steering-mechanism.jpg">
        </div>
        <div class="relative w-full md:w-6/12 p-6">
          <div class="flex-auto mx-auto">
            <div class="flex space-x-4 mb-2">
              <img alt="Steering system"
                   class="absolute inset-2 -left-6 p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
                   src="assets/img/landing-page/steering-wheel.png"/>
              <h6 class="text-2xl md:text-xl lg:text-2xl my-auto font-semibold">Цялостна проверка на
                кормилната система</h6>
            </div>
            <p class="mb-4 text-base lg:text-xl text-gray-500">Нашата услуга за годишен технически преглед
              предприема необходимите стъпки, за да гарантира, че вашият автомобил е годен за движение,
              включително цялостна проверка на кормилната система. Нашите опитни техници са обучени да
              използват различни
              инструменти и техники за откриване на потенциални проблеми, като гарантират, че вашият автомобил
              се движи гладко и безопасно на пътя.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center grid-cols-1 px-6">
        <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
          <img alt="..." class="tilt-right max-w-full rounded-lg shadow-xl mx-auto"
               src="assets/img/landing-page/landing-page-verification.jpg">
        </div>
        <div class="relative w-full md:w-6/12 p-6">
          <div class="flex-auto mx-auto">
            <div class="flex space-x-4 mb-2">
              <img alt="Vin and documents"
                   class="absolute inset-2 -left-6 p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
                   src="assets/img/landing-page/document.png"/>
              <h6 class="text-2xl md:text-xl lg:text-2xl my-auto font-semibold">Идентифициращите
                табели и документи</h6>
            </div>
            <p class="mb-4 text-base lg:text-xl text-gray-500">Проверката на идентификационните табели и
              документи е важен аспект от вашия годишен технически преглед. Нашият екип от експерти ще провери
              щателно идентификационните табели и документи на вашия автомобил, за да гарантира, че са
              актуални и съответстват на информацията на вашия автомобил. Това ще гарантира, че вашето
              превозно средство е правилно регистрирано и отговаря на всички законови изисквания.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center grid-cols-1 px-6">
        <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0 order-first md:order-last">
          <img alt="..." class="tilt-left max-w-full rounded-lg shadow-xl mx-auto"
               src="assets/img/landing-page/landing-page-wiring.jpg">
        </div>
        <div class="relative w-full md:w-6/12 p-6">
          <div class="flex-auto mx-auto">
            <div class="flex space-x-4 mb-2 ">
              <img alt="Headlights"
                   class="absolute inset-2 -left-6 p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
                   src="assets/img/landing-page/headlight.png"/>
              <h6 class="text-2xl md:text-xl lg:text-2xl my-auto font-semibold">Светлини и електрическо
                оборудване</h6>
            </div>
            <p class="mb-4 text-base lg:text-xl text-gray-500">Нашата услуга за годишен технически преглед
              обхваща цялостна оценка на вашия автомобил, включително състоянието и работата на светлините и
              електрическото оборудване. Нашите техници са добре обучени и оборудвани,
              за да извършат задълбочена проверка на осветителната система на вашия автомобил, включително
              фаровете, задните светлини, сигналните светлини и др., за да се уверят, че функционират правилно
              и осигуряват оптимална видимост на пътя.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center grid-cols-1 px-6">
        <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0">
          <img alt="..." class="tilt-right max-w-full rounded-lg shadow-xl mx-auto"
               src="assets/img/landing-page/landing-page-additional-equipment.jpg">
        </div>
        <div class="relative w-full md:w-6/12 p-6">
          <div class="flex-auto mx-auto">
            <div class="flex space-x-4 mb-2">
              <img alt="Additionals"
                   class="absolute inset-2 -left-6 p-3 text-center inline-flex items-center justify-center w-14 h-14 shadow-lg rounded-full bg-white"
                   src="assets/img/landing-page/additionals.png"/>
              <h6 class="text-2xl md:text-xl lg:text-2xl my-auto font-semibold">Допълнително оборудване</h6>
            </div>
            <p class="mb-4 text-base lg:text-xl text-gray-500">Нашият екип от експерти ще провери щателно цялото
              допълнително оборудване във вашия автомобил, за да гарантира правилното му функциониране,
              включително предпазни колани, комплекти за първа помощ, пожарогасители, скоростомери, клаксони и
              др. Това е от решаващо значение, за да се гарантира, че вашият автомобил е оборудван с всички
              необходими мерки за безопасност в случай на авария.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="justify-center text-center flex flex-wrap mt-24">
      <div class="w-full md:w-6/12 px-12 md:px-4">
        <h2 class="font-semibold text-4xl">Защо онлайн резервация?</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">Онлайн резервацията за вашия годишен технически
          преглед е най-удобният и ефективен начин да се уверите, че автомобилът ви отговаря на необходимите
          разпоредби. С нашата услуга за онлайн резервации можете лесно да планирате резервация в удобно за вас
          време, без да се налага да чакате на опашка или да вдигате телефона. Освен това ще имате незабавен достъп до
          цялата важна информация, свързана с вашия час, което ще направи процеса бърз, безпроблемен и без стрес.
          Резервирайте своя преглед днес и изпитайте многото предимства на онлайн резервацията.</p>
      </div>
      <div class="container mx-auto mt-44">
        <div class="flex flex-wrap items-center">
          <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blue-500">
              <img alt="..." class="w-full align-middle rounded-t-lg"
                   src="assets/img/landing-page/landing-page-1.jpg">
              <blockquote class="relative p-8 mb-4">
                <svg class="absolute left-0 w-full block h-[95px] -top-[94px]" preserveAspectRatio="none"
                     viewBox="0 0 583 95"
                     xmlns="http://www.w3.org/2000/svg">
                  <polygon class="text-blue-500 fill-current" points="-30,95 583,95 583,65"></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">Проверка на двигателя</h4>
                <p class="text-md font-light mt-2 text-white">Поддържайте безпроблемната работа на вашия
                  двигател с нашата цялостна услуга за проверка на двигателя. Нашите техници ще прегледат
                  щателно вашия двигател
                  и неговите компоненти, за да идентифицират потенциални проблеми и ще дадат препоръки за
                  ремонт, ако е необходимо.</p>
              </blockquote>
            </div>
          </div>
          <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blue-500">
              <img alt="..." class="w-full align-middle rounded-t-lg"
                   src="assets/img/landing-page/landing-page-brakes.jpg">
              <blockquote class="relative p-8 mb-4">
                <svg class="absolute left-0 w-full block h-[95px] -top-[94px]" preserveAspectRatio="none"
                     viewBox="0 0 583 95"
                     xmlns="http://www.w3.org/2000/svg">
                  <polygon class="text-blue-500 fill-current" points="-30,95 583,95 583,65"></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">Проверка на спирачките</h4>
                <p class="text-md font-light mt-2 text-white">Осигурете безопасността на вас и вашите
                  пътници с
                  нашата услуга за проверка на спирачките. Нашите техници ще проверят вашите спирачни
                  накладки, ротори и апарати, както и нивата на спирачната ви течност, за да се уверят, че
                  спирачките ви са в добро работно състояние.</p>
              </blockquote>
            </div>
          </div>
          <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blue-500">
              <img alt="..." class="w-full align-middle rounded-t-lg"
                   src="assets/img/landing-page/landing-page-suspention.jpg">
              <blockquote class="relative p-8 mb-4">
                <svg class="absolute left-0 w-full block h-[95px] -top-[94px]" preserveAspectRatio="none"
                     viewBox="0 0 583 95"
                     xmlns="http://www.w3.org/2000/svg">
                  <polygon class="text-blue-500 fill-current" points="-30,95 583,95 583,65"></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">Проверка на окачването</h4>
                <p class="text-md font-light mt-2 text-white">Плавното возене е важно и нашата услуга за
                  проверка на окачването гарантира точно това. Нашите техници ще прегледат вашите
                  амортисьори,
                  подпори и други компоненти на окачването, за да установят потенциално износване или
                  повреда
                  и да
                  дадат препоръки за ремонт, ако е необходимо.</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="flex items-center justify-center pt-16 py-8 px-4">
    <div class="max-w-4xl w-full shadow-lg">
      <div class="md:p-8 p-1 dark:bg-gray-800 bg-white rounded-t">
        <app-calendar-header [currentDate]="selectedDate$ | async" (navigateNext)="onNavigateNextMonth()"
                             (navigatePrevious)="onNavigatePreviousMonth()"></app-calendar-header>
        <app-calendar-body [calendarMatrix]="calendar" [selectedDate]="selectedDate$ | async"
                           (showBookingHoursEvent)="onShowBookingHours($event)"
                           (changeSelectedDate)="onChangeSelectedDate($event)"></app-calendar-body>
      </div>
      <app-booking-hours [bookingHours]="bookingHours" [currentDate]="selectedDate$ | async" [isWorkDay]="isWorkDay"
                         [showBookingHours]="showBookingHours"></app-booking-hours>
    </div>
  </div>
  
  <ng-container *ngIf="bookingsForSelectedDate$ | async as bookings">
    <ng-container *ngFor="let booking of bookings">
      <div class="md:flex md:justify-between m-4">
        <div>
          <p>Име: {{booking.firstName}} {{booking.lastName}}</p>
          <p>Телефон: {{booking.phone}}</p>
          <p>Регистрационен номер: {{booking.registrationNumber}}</p>
          <p>Категория: {{booking.vehicleCategory}}</p>
          <p>Услуга: {{booking.bookingType}}</p>
          <p>Час: {{booking.bookingTime}}</p>
          <!-- <p>Резервацията е направена на: {{booking.data.createdAt.toDate() | date :'dd-MM-yyyy MM:ss'}}</p> -->
        </div>
        <div class="flex justify-center">
          <button type="button" *ngIf="selectedDate$ | async as selected"
                  class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'"
                  (click)="updateBookingDialog(booking.bookingTime, booking)">Update</button>
          <button type="button" *ngIf="selectedDate$ | async as selected"
                  class="block my-4 p-8 max-h-10 mx-1 border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'"
                  (click)="deleteBooking(selected,booking.bookingTime)">Delete</button>
        </div>
      </div>
      <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
    </ng-container>
  </ng-container>
  <!-- <h1 class="flex justify-center">9ти Февруари 2023 съдържа данни, намиращи се в база от данни.</h1> -->
  <!-- <button type="button"
      class="flex my-4 p-8 mx-auto border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'"
      (click)="getBookingsForDateFromDb()">Get bookings from database for {{selectedDate$ | async | date:
      'dd-MM-yyyy'}}</button>
  
  <button type="button"
      class="flex my-4 p-8 mx-auto border border-gray-300 font-medium rounded-lg text-xs md:text-sm py-2.5 'bg-white text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'"
      (click)="getBookingsForSelectedDate()">Get bookings for selected date</button> -->

  